{% extends 'base.html' %}

{% block body %}
  <div class="bg-white py-6 sm:py-8 lg:py-12 ">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">

      <img alt="hero" src="static/images/signup.avif">

      <div class="mb-10 md:mb-16">
        <h2 class="mb-4 text-center text-1xl font-bold text-gray-800 md:mb-6 lg:text-2xl">Sign Up and Start Swapping for a Sustainable Future!</h2>
      </div>

      <form class="mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2">
        <div>
          <label for="first-name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">First name*</label>
          <input name="first-name" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
        </div>
  
        <div>
          <label for="last-name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Last name*</label>
          <input name="last-name" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
        </div>

        <div class="sm:col-span-2">
          <label for="email" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Uasername*</label>
          <input name="email" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
        </div>
        
        <div class="sm:col-span-2">
          <label for="email" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Email*</label>
          <input name="email" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="email"/>
        </div>

        <div>
          <label for="first-name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Password*</label>
          <input name="first-name" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="password"/>
        </div>
  
        <div>
          <label for="last-name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Confirm Password*</label>
          <input name="last-name" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="password"/>
        </div>
  
        <div class="flex items-center justify-between sm:col-span-2">
          <button class="inline-block rounded-lg bg-green-600 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Sign Up</button>
  
          <span class="text-sm text-gray-500">*Required</span>
        </div>
  
        <p class="text-xs text-gray-400">By signing up to our website you agree to our <a href="#" class="underline transition duration-100 hover:text-green-600 active:text-indigo-600">Privacy Policy</a>.</p>
      </form>

{% endblock %}